footer{
    padding: 20px;
    background-color: rgba(54, 51, 51, 0.815);
    backdrop-filter: blur(5px);
    .row{
        display: flex;
        justify-content: space-between;
        b{
            margin: 0 auto;
            width: 420px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: rgba(255, 255, 255, 0.692);
            font-family: 'Krub';
            font-weight: 100;
            p{
                color: white;
            font-weight: 100;
                font-family: 'Krub';
                font-size: 17px;
                font-weight: 100;
                a{
                    font-family: 'Krub';
                    color: #d8d8d8;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 100;
                    padding-left: 10px;
                    border-left: 1px solid rgba(255, 255, 255, 0.397);
                    padding-left: 20px;
                }
            }
        }
    }
}