.history{
    position: relative;
    // background-color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    margin-top: 300px;
    padding: 20px;
    .container{
        padding: 100px;
        position: relative;
        border-radius: 10px;
        box-shadow: inset 0 0 20px black;
        background-color: #f1c40f;
        p{
            font-family: 'Caveat';
            font-size: 30px;
            margin-top: 40px;
        }
        // backdrop-filter: blur(5px);
        // box-shadow: 0 0 100px black;
        &::after{
            content: '';
            border-radius: 30px;
            rotate: 45deg;
            position: absolute;
            z-index: -10;
            left: 0;
            top: 0;
            margin-left: 470px;
            margin-top: -180px;
            width: 350px;
            height: 350px;
            background-color: rgba(255, 255, 255, 0.534);
            border: 20px solid #f1c40f;
            backdrop-filter: blur(5px);
            box-shadow:inset 0 0 100px black;
            animation-name: slideInFromTop;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: backwards;
            // animation-delay: 2s;
            animation-direction: alternate-reverse;
            animation-iteration-count: 3;
            opacity: 0.2;


        }
        @keyframes slideInFromTop {
            0% {
            //   translate: translateY(100px);
            opacity: 0.2;
            }
            100% {
              transform: translateX(50px) translateY(50px);
            opacity: 1;
            }
          }
        .text{
            padding-right: 60px;
            h2{
                font-family: "Big Shoulders Stencil";
                font-size: 45px;
            }
            p{
                font-family: 'Caveat';
                font-size: 30px;
            }
        }
        .pic{
            box-shadow: 0 0 100px black;
            border-radius: 20px;
            // padding: 30px;
            display: flex;
            width: 2500px;
            // padding: 100px;
            // background-color: red;
            height: 350px;
            overflow: hidden;
            &:hover{
                box-shadow: 0 0 50px rgba(0, 0, 0, 0.658);
                img{
                    transform: scale(1.3);
                }
            }
        }

    }
    
}