.ustozlar{
    header{
        h2{
            text-align: center;
            color: #f1c40f;
            font-family: 'Fredoka';
            font-weight: 100;
            font-size: 30px;
        }
    }
}